@model ITLASchool.Models.AsignaturasMaestros

@{
    ViewData["Title"] = "Create";
}


<div class="card">
    <h3 class="card-header font-weight-bold text-uppercase py-4  text-center">
        Seleccione la asignatura y el profesor
    </h3>

</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AsignaturasID" class="list-group-item font-weight-bold"></label>
                <select asp-for="AsignaturasID" class="form-control" asp-items="ViewBag.AsignaturasID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProfesoresID" class="list-group-item font-weight-bold"></label>
                <select asp-for="ProfesoresID" class="form-control" asp-items="ViewBag.ProfesoresID"></select>
            </div>
            <div class="form-group">
                <a type="button" class="btn btn-success" asp-action="Index">Volver atras </a> |
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>




