@model ITLASchool.Models.Profesores

@{
    ViewData["Title"] = "Edit";
}

<br />

<span style="font-size:20px; text-align:center; ">
    <dt class="list-group-item active">
        Editar profesor
    </dt>
</span>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditarProf">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProfesoresID" />
            <div class="form-group">
                <label asp-for="Nombre" class="list-group-item font-weight-bold"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="list-group-item font-weight-bold"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a type="button" class="btn btn-success" asp-action="MenuProf">Cancelar</a> |
                <input type="submit" value="Guardar" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>



