@model ITLASchool.Models.AsignaturasEstudiantes

@{
    ViewData["Title"] = "Delete";
}


<br />
<h3>¿Esta seguro de eliminar esta asignatura    ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asignaturas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asignaturas.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estudiantes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estudiantes.Matricula)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="AsignaturasEstudiantesID" />
        <a type="button" class="btn btn-success" asp-action="MenuAsignStudents">Cancelar</a> |
        <input type="submit" value="Eliminar" class="btn btn-danger" />

    </form>
</div>
